html {
  overflow-y: scroll;
  background-image:url(test.png),url(whitespheres.png),url(bggrey2.jpg),url(bglow.jpg);
  background-size:100% auto,128px ;
}
body {
  min-height: 100vh;
  margin: auto;
  width: 780px;
  background-image:url(bg2.png);
  background-position: center;
  box-shadow: 0px 0px 55px;
  background-repeat: repeat;
  font-size: 1.125em;
  font-family:allerbold;
  font-color: white
}

@font-face {
  font-family: 'allerbold';
    src: url('aller_bd-webfont.woff2') format('woff2'),
         url('aller_bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'charcoalregular';
  src: url('charcoal-webfont.woff2') format('woff2'),
        url('charcoal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
.logo {
	padding: 10px;
	max-height: 90px
	text-align: left;
	grid-column: 1;
	grid-row: 1
}
.yt {
	padding: 10px;
	text-align: right;
	grid-column: 2;
	grid-row: 1;
}
.bar {
  text-align: center;
  height: 40px;
  background-image:url(bar/bg.png);
  background-repeat: repeat-x;
  padding: 0px;
}
p {
  padding: 0px 25px;
}
.1 {
  padding: 0px 25px;
  text-align: left;
}
.links {
  text-align: center;
  padding: 25px;
}
img.new {
  float: right;
}
img.image {
  width: 100%;
  height: auto;
}
img.image2 {
  width: 50%;
  height: auto;
}
.youtube {
  text-align: center;
  padding: 10px;
}
.videos {
  margin: auto;
}
.links {
  margin: auto;
}
.item {
  text-align: center;
  padding: 10px;
}
.link {
  padding: 0px 15px;
}
.content {
	text-align: center;
	width: 640px;
	margin: auto;
}
.txt {
	width: 640px;
	margin: auto;
	padding: 10px;
}
.games {
  margin: auto;
}
footer {
  text-align: center;
  /*height: 40px;
  background-image:url(bar/bg.png);
  background-repeat: repeat-x;*/
  padding: 5px;
}