html {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  
  background-image: url(bgxl.webp),url(bglow.jpg);
  background-size: 100% auto;
}
body {
  min-height: 100vh;
  margin: auto;
  width: 95%;
  min-width: 800px;
  max-width: 960px;
  background:url(bg.png);
  background-position: center;
  box-shadow: 2px 2px 10px;
  background-repeat: repeat;
  font-size: 1.125em;
  font-family:charcoalregular;
}
@font-face {
  font-family: 'charcoalregular';
  src: url('charcoal-webfont.woff2') format('woff2'),
        url('charcoal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.logo {
  text-align: left;
  padding: 10px
}
.bar {
  text-align: center;
  height: 40px;
  background-image:url(bar/bg.png);
  background-repeat: repeat-x;
}
p {
  padding: 0px 25px;
  text-align: left;
}
.1 {
  padding: 0px 25px;
  text-align: left;
}
.links {
  text-align: center;
  padding: 25px;
}
img.new {
  float: right;
}
img.image {
  width: 100%;
  height: auto;
}
img.image2 {
  width: 50%;
  height: auto;
}
.video {
  text-align: center;
  padding: 10px;
}
.game {
  text-align: center;
  font-size: 1.25em;
  padding: 10px;
}
.games {
  text-align: center;
  width: 100%;
  padding: 15px;
}
footer {
  text-align: center;
  padding: 5px;
}